body,
html {
    margin: 0;
    height: 100%;
    font-family: 'Segoe UI', sans-serif;
    box-sizing: border-box;
    background-color: #0f0f0f;
}

.hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    /* --- ÇOKLU ARKA PLAN --- */
    /* Katman 1 (En üst): Siyah Gradient Maske */
    /* Katman 2 (Alt): Manzara Resmi */
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url(unnamed.jpg);
    /* Resmi ortala ve boşluk kalmayacak şekilde yay */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}
h1 {
    font-size: 4rem;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-image: url(unnamed\ \(4\).jpg);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
}
.card {
    background: rgb(46, 46, 46);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    text-align: center;

    
}

.card img {
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
    border: red 7px solid;
    box-shadow: 0 0 20px rgb(255,155,0);

}

.card h3 {
    margin-top: 0;
    color: #b1b1b1;
}

.card p {
    color: #666;
    line-height: 1.5;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 15px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #0056b3;
}

.footer {
    text-align: center;
    padding: 15px;
    background-color: #222;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer p {
    margin: 0;
    font-size: 0.9rem;
}

@media (max-width: 600px) {
    .hero h1 {
        font-size: 2.5rem;
        padding: 0 10px;
        text-align: center;
    }

    .card {
        max-width: 90%;
    }
}

.container {
    padding: 20px;
    max-width: 110vh;
    margin: auto;
    display: grid;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;;
    margin: -50px auto 50px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

}

.container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}